.tbd-Hextension {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 45px;
    z-index: 99999;
    border-top: none;
    border-left: none;
    border-right: none;
    transform: translateY(-100%);
    transition: .3s ease-in-out all;
    border: 0;
}

.tbd-Hextension-active {
    transform: translateY(0);
}

.tbd-Hextension-floating-active {
    border: 3px solid #2f3a80 !important;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}


/*iframe, tbd-Hextension-floating-container-active*/

.tbd-Hextension-floating-active {
    transform: translateX(98%);
}

.tbd-Vextension {
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    z-index: 99999;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: .3s ease-in-out all;
}
.tbd-extension-position {
    top: calc(100% - 45px);
}
.tbd-Vextension-active {
    transform: translateX(0);
}

/* settings */
.tbd-extension-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background: rgba(0,0,0,0.7) */
}
.tbd-extension-popup-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.tbd-extension-popup-content {
    width: 100%;
    max-width: 250px;
    border: 2px solid #d9dada;
    background: #f3f3f3;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 58px;
    position: relative;
}
.input-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.input-block label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}
.input-block .form-control {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}
.input-block .form-control:focus{
    outline: none;
}
.btn-submit {
    background: #ebebeb;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #2f3a80;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}
.tbd-extension-popup-right {
    max-width: 200px;
}
.tbd-extension-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tbd-extension-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #676767;
}
.tbd-extension-info-list a{
    text-decoration: none;
    color: #777 !important;
}
.tbd-extension-info-list a.active {
    font-weight: 600;
    text-decoration: underline;
    color: #2f3a80;
}
.ti-logout-block a{
    font-size: 14px;
    font-weight: 400;
    color: #676767;
}
.ti-text {
    font-weight: 600;
}
.tbd-extension-info-list li h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.tbd-extension-info-list li {
    margin: 0 0px 30px;
}
.ti-toggle {
    margin: 10px 0;
}
.tbd-extension-popup-content:before {
    content: '';
    position: absolute;
    right: 26px;
    top: -10px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #f3f3f3 transparent;
}

.tbd-extension-bottom-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
    /* background: rgba(0, 0, 0, 0.7); */
}

.popup-overlay{display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-block {align-items: flex-end; height:calc(100% - 60px); z-index: 2;}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-content::before {
    border-width: 10px 0px 10px 10px;
    /* top: 104%; */
    transform: rotate(90deg);
    /* bottom: 10px; */
    top: 98%;
    right: 31px;
    border-color: transparent rgb(243,243,243) transparent;
}
.tbd-extension-popup-left .input-block label {
    color: #2f3a80;
}

.tbdPushParent{}

/************/
html.tbdPushParent body.tbdPush{
    margin-top : 45px !important;
    position : absolute;
    width : 100%;
    height : calc(100% - 45px) !important;
}


/* connect wallet popup dialog */


/* connect wallet popup */
.tbd-extension-connect-wallet-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background: rgba(0,0,0,0.7) */
}
.tbd-extension-connect-wallet-popup-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.tbd-extension-connect-wallet-popup-content {
    width: 100%;
    max-width: 250px;
    border: 2px solid #d9dada;
    background: #f3f3f3;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 93px;
    position: relative;
}
.input-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.input-block label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}
.input-block .form-control {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}
.input-block .form-control:focus{
    outline: none;
}
.btn-submit {
    background: #ebebeb;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #2f3a80;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.tbd-extension-connect-wallet-popup-content:before {
    content: '';
    position: absolute;
    right: 26px;
    top: -10px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #f3f3f3 transparent;
}

.tbd-extension-bottom-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
    /* background: rgba(0, 0, 0, 0.7); */
}

.popup-overlay{display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-block {
    align-items: flex-end; height:calc(100% - 60px); z-index: 2;
}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-content::before {
    border-width: 10px 0px 10px 10px;
    /* top: 104%; */
    transform: rotate(90deg);
    /* bottom: 10px; */
    top: 98%;
    right: 31px;
    border-color: transparent rgb(243,243,243) transparent;
}

.tbd-extension-popup-left .input-block label {
    color: #2f3a80;
}

/* Radio css */

.wallet-icon{
    width: 25px;
    height: 25px;
    vertical-align: center;
}

div#radio-group {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.radiodiv {
    display: flex;
    position: relative;
}

.tbd-extension-connect-wallet-popup input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 35px;
    height: 35px;
    top: -2px;
    left: -5px;
    cursor: pointer;
}
  
input[type=radio]:checked + label>img {
    box-shadow: 0 0 3px 3px rgba(202, 202, 202, 0.9);
    border-radius: 100px;
    transform: 
      scale(1.2);
}
  
input[type=radio] + label>img {
    width: 30px;
    height: 30px;
    transition: 500ms all;
    cursor:pointer;
    border-radius: 100px;
    border: 1px solid #cacaca;
    padding: 2px;
}

.input-icon-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.input-icon-block .icon {
    padding: 0px 5px 0px 0px;
}

span.wallet-value {
    font-size: 12px;
    margin: 5px 0px;
    font-weight: 600;
    color: #847e77;
}
.select-wallet-title{
    margin-bottom: 10px;
    margin-top: 0px;
}

input[disabled]{
    background-color: #ebebeb !important; cursor: not-allowed; 
}

/*added by parth*/
.tbd-Hextension {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 45px;
    z-index: 99999;
    border-top: none;
    border-left: none;
    border-right: none;
    transform: translateY(-100%);
    transition: .3s ease-in-out all;
    border: 0;
}

.tbd-Hextension-active {
    transform: translateY(0);
}

.tbd-Hextension-floating-active {
    border: 3px solid #2f3a80 !important;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}


/*iframe, tbd-Hextension-floating-container-active*/

.tbd-Hextension-floating-active {
    transform: translateX(98%);
}

.tbd-Vextension {
    width: 320px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    z-index: 99999;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: .3s ease-in-out all;
}
.tbd-extension-position {
    top: calc(100% - 45px);
}
.tbd-Vextension-active {
    transform: translateX(0);
}

/* settings */
.tbd-extension-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background: rgba(0,0,0,0.7) */
}
.tbd-extension-popup-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.tbd-extension-popup-content {
    width: 100%;
    max-width: 500px;
    border: 2px solid #d9dada;
    background: #f3f3f3;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 30px;
    position: relative;
}
.input-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.input-block label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}
.input-block .form-control {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}
.input-block .form-control:focus{
    outline: none;
}
.btn-submit {
    background: #ebebeb;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #2f3a80;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}
.tbd-extension-popup-right {
    max-width: 200px;
}
.tbd-extension-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tbd-extension-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: #676767;
}
.tbd-extension-info-list a{
    text-decoration: none;
    color: #777 !important;
}
.tbd-extension-info-list a.active {
    font-weight: 600;
    text-decoration: underline;
    color: #2f3a80;
}
.ti-logout-block a{
    font-size: 14px;
    font-weight: 400;
    color: #676767;
}
.ti-text {
    font-weight: 600;
}
.tbd-extension-info-list li h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.tbd-extension-info-list li {
    margin: 0 0px 30px;
}
.ti-toggle {
    margin: 10px 0;
}
.tbd-extension-popup-content:before {
    content: '';
    position: absolute;
    right: 26px;
    top: -10px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #f3f3f3 transparent;
}

.tbd-extension-bottom-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
    /* background: rgba(0, 0, 0, 0.7); */
}

.popup-overlay{display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-block {align-items: flex-end; height:calc(100% - 60px); z-index: 2;}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-content::before {
    border-width: 10px 0px 10px 10px;
    /* top: 104%; */
    transform: rotate(90deg);
    /* bottom: 10px; */
    top: 98%;
    right: 31px;
    border-color: transparent rgb(243,243,243) transparent;
}
.tbd-extension-popup-left .input-block label {
    color: #2f3a80;
}

.tbdPushParent{}

/************/
html.tbdPushParent body.tbdPush{
    margin-top : 45px !important;
    position : absolute;
    width : 100%;
    height : calc(100% - 45px) !important;
}


/* connect wallet popup dialog */


/* connect wallet popup */
.tbd-extension-connect-wallet-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background: rgba(0,0,0,0.7) */
}
.tbd-extension-connect-wallet-popup-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}
.tbd-extension-connect-wallet-popup-content {
    width: 100%;
    max-width: 250px;
    border: 2px solid #d9dada;
    background: #f3f3f3;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-right: 30px;
    position: relative;
}
.input-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.input-block label {
    width: 100%;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
}
.input-block .form-control {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    box-sizing: border-box;
}
.input-block .form-control:focus{
    outline: none;
}
.btn-submit {
    background: #ebebeb;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #2f3a80;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}
.tbd-extension-connect-wallet-popup-content:before {
    content: '';
    position: absolute;
    right: 26px;
    top: -10px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #f3f3f3 transparent;
}

.tbd-extension-bottom-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 9999;
    /* background: rgba(0, 0, 0, 0.7); */
}

.popup-overlay{display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-block {
    align-items: flex-end; height:calc(100% - 60px); z-index: 2;
}

.tbd-extension-bottom-popup-wrap .tbd-extension-popup-content::before {
    border-width: 10px 0px 10px 10px;
    /* top: 104%; */
    transform: rotate(90deg);
    /* bottom: 10px; */
    top: 98%;
    right: 31px;
    border-color: transparent rgb(243,243,243) transparent;
}

.tbd-extension-popup-left .input-block label {
    color: #2f3a80;
}

/* Radio css */

.wallet-icon{
    width: 25px;
    height: 25px;
    vertical-align: center;
}

div#radio-group {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.radiodiv {
    display: flex;
    position: relative;
}

.tbd-extension-connect-wallet-popup input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 35px;
    height: 35px;
    top: -2px;
    left: -5px;
    cursor: pointer;
}
  
input[type=radio]:checked + label>img {
    box-shadow: 0 0 3px 3px rgba(202, 202, 202, 0.9);
    border-radius: 100px;
    transform: 
      scale(1.2);
}
  
input[type=radio] + label>img {
    width: 30px;
    height: 30px;
    transition: 500ms all;
    cursor:pointer;
    border-radius: 100px;
    border: 1px solid #cacaca;
    padding: 2px;
}

.input-icon-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.input-icon-block .icon {
    padding: 0px 5px 0px 0px;
}

span.wallet-value {
    font-size: 12px;
    margin: 5px 0px;
    font-weight: 600;
    color: #847e77;
}
.select-wallet-title{
    margin-bottom: 10px;
    margin-top: 0px;
}

input[disabled]{
    background-color: #ebebeb !important; cursor: not-allowed; 
}


/* connect wallet Winning popup dialog */

/* connect wallet winning popup */
.tbd-extension-winning-popup-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* background: rgba(0,0,0,0.7) */
}
.tbd-extension-winning-popup-block {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}
.tbd-extension-winning-popup-content {
    width: 100%;
    max-width: 500px;
    border: 2px solid #d9dada;
    background: #f3f3f3;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin: 0 auto;
    /* margin-right: 30px; */
    position: relative;
}

.tbd-extension-winning-popup {
    margin: 0 auto;
    text-align: center;
}

.btn-submit {
    background: #ebebeb;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #2f3a80;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.popup-overlay{display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
}

.tbd-extension-popup-left .input-block label {
    color: #2f3a80;
}